#navbar {
    position: fixed;
    top:0;
    left: 0;
    width: 15%;
    text-align: center;
    padding-top: 30px;
}

#navbar a {
    display: block;
    margin-top: 20px;
}

#main-doc {
    margin-left: 15%;
    width: 85%;
}

#main-doc header {
    font-size: 1.5rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    #navbar {
        position: static;
        width: 100%;
    }
    
    #navbar a {
        margin-top: 10px;
    }
    
    #main-doc {
        width: 100%;
        margin-left: 0%;
    }
}